<?xml version="1.0" encoding="UTF-8"?>

<?import java.lang.*?>
<?import java.util.*?>
<?import javafx.scene.*?>
<?import javafx.scene.control.*?>
<?import javafx.scene.layout.*?>

<AnchorPane xmlns="http://javafx.com/javafx"
            xmlns:fx="http://javafx.com/fxml"
            fx:controller="Log4j2Xml"
            prefHeight="400.0" prefWidth="600.0">
    <Properties>
        <!--设定日志文件路径-->
        <Property name="basePath">./logs</Property>
    </Properties>
    <Appenders>
        <!--设定日志文件路径及日志名称-->
        <RollingFile name = "File" filename = "${basePath}/app.log"
                     filePattern = "${basePath}/app-%d{yyyy-MM-dd}.log">
            <!--设定日志文件时间及显式级别、显式执行的包名、类名等信息-->
            <PatternLayout pattern = "%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %c{2} -%msg%n" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                <SizeBasedTriggeringPolicy size = "100 Kb" />
            </Policies>
        </RollingFile>
        <!--控制台日志显示设定-->
        <Console name="Console">
            <patternLayout pattern="%d{HH:mm:ss.SSS} %-5level %c{2} -%msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="log4jtutorial" level="info">
            <AppenderRef ref="Console"/>
            <!--<AppenderRef ref="log"/>-->
        </Logger>
        <Root level="info">
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</AnchorPane>
