<?xml version="1.0" encoding="UTF-8"?>

<?import java.lang.*?>
<?import java.util.*?>
<?import javafx.scene.*?>
<?import javafx.scene.control.*?>
<?import javafx.scene.layout.*?>

<AnchorPane xmlns="http://javafx.com/javafx"
            xmlns:fx="http://javafx.com/fxml"
            fx:controller="Log4j2Xml"
            prefHeight="400.0" prefWidth="600.0">
    <Properties>
        <Property name="basePath">/Users/tcw/seleniumjava/logs</Property>
    </Properties>
    <Appenders>
        <RollingFile name = "File" filename = "${basePath}/app.log"
                     filePattern = "${basePath}/app-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern = "%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %c{1} -%msg%n" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                <SizeBasedTriggeringPolicy size = "100 Kb" />
            </Policies>
        </RollingFile>
        <Console name="Console">
            <patternLayout pattern="%d{HH:mm:ss.SSS} %-5level %c{2} -%msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</AnchorPane>
